.slider {
    background: #357efe;
    max-width: 1000px;
    height: 400px;
    width: 100%;
    position: relative;
    border-radius: 8px;
    margin: 20px;
    overflow: hidden;
}

.slide {
    display: flex;
    width: 100%;
    height: 100%;

    transition: opacity ease-in-out;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 100px;
    justify-content: center;
}

.right {
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text {
    color: white;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    margin-bottom: 34px;
}

.name {
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%
}

.jobPosition {
    color: white;
    font-size: 16px;
    line-height: 140%
}

.arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    opacity: .6;
    cursor: pointer;
}

.arrow:hover {
    opacity: 1;
}

.arrowLeft {
    left: 24px;
    top: calc(50% - 20px);
    transform: rotate(180deg);
}

.arrowRight {
    right: 24px;
    top: calc(50% - 20px);
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}
